
        tr
        {
          transition: all 0.5s;
        }
        tr:hover
        {
          background-color: #f0ad4e;
          transition: 0.5s;
        }
        .btn-warning
        {
          transition: all 0.8s;
        }

        .btn-warning:hover, .btn-warning:focus
        {
          transition: 0.8s;
          background-color: #428bca;
          border-color: #428bca;
        }

        .panel-body {
          background-color: white;
        }

        .table-responsive{
          background-color: white;
        }

        .panel-footer
        {
          background-color: #f0ad4e;
          color: white;
        }

        